body {
display: flex;
margin: 0;
}

.timer-text {
    flex-wrap: wrap;

}

.quiz {
    display: flex;
    align-content: flex-start;
    margin-top: 50px;
}

button{
    background-color: blueviolet;
    color: chartreuse;
}
